header {
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100%;
    background-color: #1d2226;
    border-bottom: 1px solid #39434a;
}

.my-header-container {
    height: 8vh;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-page-title-logo {
    height: 100%;
}

.my-page-title-logo img {
    height: 100%;
}

.my-profile {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 13%;
    align-items: center;
}

.my-person-name a {
    color: white;
}

.my-person-name h3 {
    color: white;
}

.my-person-logo {
    height: 70%;
}

.my-person-logo img {
    height: 100%;
}