div.container {
    max-width: 1128px;
    height: 89vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

div.carousel {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

div.carousel img {
    height: 100%;
    padding: 1% 0;
}

div.description-details-booking{
    width: 100%;
    height: 100%;
    display: flex;
}

div.description-details-booking .description {
    width: 40%;
    height: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;

}

div.description-details-booking .description .resto-name{
    color: #ffd;
    font-weight: 100;
    font-style: italic;
}

div.description-details-booking .description .description-rating {
    color: #b5b593;
    font-weight: 300;
}

.description-rating .rating {
    margin-top: 5%;
    color: #9ab3b1;
}

.description-details-booking .details {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-right: 1px solid wheat;
}

.details h3 {
    color: #ffd;
}

.details span {
    color: #b5b593;
}

.description-details-booking .booking {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.booking h3 {
    color: #ffd;
}

.booking input {
    color: #b5b593;
    background-color: #1a1a1ae6;
    border: 1px solid #9ab3b1;
    margin: 1%;
}

.booking button {
    width: 80%;
    align-self: center;
    margin-top: 4%;
}